.App {
  margin: 20px;
}

.draft {
  border: 1px solid black;
  height: 85vh;
  width: 81vw;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.drafticon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgperso {
  height: 155px;
}

.draftlogo {
  height: 10px;
  width: 30px;
}

.perso img {
  height: 155px;
}
