.App {
  margin: 20px;
}

.cartes {
  border: 1px solid black;
  height: 85vh;
  width: 81vw;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.perso img {
  height: 155px;
}
